.cookie-notice-wrapper {
  width:100%;
  padding:.5rem;
  position:fixed;
  left:0;
  bottom:0;
  transition: all 200ms ease-in-out;
  background: rgba(0,0,0,0.7);
  z-index:8888;
  opacity:0;
  display:flex;
  align-items: center;
  transform:translateY(5rem);
  &.visible {
    opacity:1;
    transform:translateY(0rem);
  }
}
.cookie-notice {
  opacity:0;
  top:.875rem;
  display:flex;
  flex-grow:1;
  align-items:center;
  background-color: $brand-gray;
  padding:.5rem .5rem .5rem 1rem;
  border-radius:$border-radius-sm;
  color:white !important;
  font-size:$font-size-sm;
  transition: all 200ms ease-in-out;
  z-index:9999;
  transform:translateY(100px);
  background: $brand-gray;
  background-size:20px 20px;
  font-weight:$font-weight-normal;
  .text-link {
    color:white;
    border-bottom:solid 1px $gray;
    margin-left:.25rem;
  }
  .btn {
    margin: 0 0 0 auto;
  }
  @media(max-width: $breakpoint-md) {
    background-image:none;
    flex-direction:column;
    padding:.5rem;
    .text-link {
      color:white;
      border-bottom:solid 1px $gray;
      margin-left:.25rem;
    }
    .btn {
      margin: 1rem 0 0 0;
      width:50%;
    }
  }
  &.visible {
    opacity:1;
    transform:translateY(0px);
  }
  &.remove {
    background: $brand-gray no-repeat 10px center url("/assets/images/removed.svg");
    background-size:20px 20px;
  }
  &.favourite {
    background: $brand-gray no-repeat 10px center url("/assets/images/added_heart.svg");
    background-size:20px 20px;
    &.remove {
      background: $brand-gray no-repeat 10px center url("/assets/images/removed_heart.svg") !important;
      background-size:20px 20px !important;
    }
  }
}
