.partners-carousel {
  margin-top:1rem;
  background:$gray-lightest;
  padding:.5rem 0 0;

  .partners-carousel-header {
    margin:1.75rem 0 1rem 0;
    h3 {
      margin:0;
      padding:0 0 0.25rem;
      border-bottom:solid 2px $brand-yellow;
    }
    display:flex;
    align-items: center;
    a {
      margin-left:auto;
    }
  }
  .swiper {
    margin: 0 1rem;
  }
  .swiper-wrapper {
    padding-bottom:3.5rem;
  }
  .swiper-slide {
    text-align:center;
    border-radius:$border-radius-lg;
    background:#fff;
    display:flex;
    align-items:center;
    min-height:10rem;

    a {
      margin:auto;
      width:60%;
    }
  }
  .swiper-pagination {
    border:none;
  }
  // h3 {
  //   padding-bottom:1rem;
  // }
  img {
    width:100%;
    min-height:0;
  }
}

footer {
  font-size:$font-size-sm;

  .container {
    display:flex;
    flex-direction:column;
    margin:2rem;
    @media(max-width: $breakpoint-lg) {
      margin:0;
    }
    @media(min-width: $breakpoint-xl) {
      margin:2rem auto;
    }
  }
  a {
    color:white;
    &:hover {
      color:$brand-yellow;
    }
  }
  padding:1rem 0;
  background:$brand-gray;
  color:$gray;
  font-weight: $font-weight-normal;

  .footer-nav-container {
    app-footer-nav {
      display:flex;
      flex-direction:column;
      @media(min-width: $breakpoint-md) {
        flex-direction:row;
      }
    }
    display:flex;
    flex-direction:column;
    @media(min-width: $breakpoint-md) {
      flex-direction:row;
    }
    .footer-nav {
      min-width:200px;
      display:flex;
      flex-direction:column;

      a {
        float:left;
        clear:both;
        color:white;
        // display:flex;
        border-bottom:dotted 1px $gray;
        margin:.25rem 0;
        &:hover {
          color:$brand-yellow;
        }
        // @media(min-width: $breakpoint-xl) {
        //   flex-direction:row;
        // }
      }
    }
  }
  .footer-address {
    color:white;
    @media(max-width: $breakpoint-md) {
    border-top:solid 2px $gray;
    padding:1rem 0;
    margin:1rem 0 0;
  }
    @media(min-width: $breakpoint-md) {
      margin-left:auto;
      text-align:right;
    }
  }

  .footer-info {
    font-size:$font-size-xs;
    margin-bottom:0;
    display:flex;
    flex-direction:column;
    @media(min-width: $breakpoint-md) {
      margin-top:3rem;
      flex-direction:row;
      align-items: center;
    }

  }
}

.copyright {
  @media(max-width: $breakpoint-md) {
    order:2;
  }
  a {
    margin-left:.25rem;
  }
}

.footer-produced-by {
  display:flex;
  align-items: center;
  align-self: baseline;
  color:white;
  margin-left:auto;
  @media(max-width: $breakpoint-md) {
    order:1;
    width:100%;
    border-top:solid 1px $gray;
    border-bottom:solid 1px $gray;
    padding:1rem 0;
    margin-bottom:1rem;
  }
  a {
    background:no-repeat bottom right url("/assets/images/ctvc-logo.svg");
    background-size:contain;
    height:30px;
    width:100px;
    margin-left:.5rem;
    @media(max-width: $breakpoint-lg) {
      margin-left:auto;
    }
  }
}

app-awards {
  display:flex;
  @media(max-width: $breakpoint-sm) {
    flex-direction:column;
  }
}

.award {
  margin-right:.5rem;
  display:flex;
  img {
    height:50px;
  }
  @media(max-width: $breakpoint-md) {
    padding:1rem 0;
  }
  @media(max-width: $breakpoint-sm) {
    padding:.5rem 0;
  }
}
