app-list {
  .sticky {
    padding-top:4rem;
    .page-title {
      position:fixed;
      top:0;
      background:white;
      z-index:9999;
      margin:0;
      padding:2rem 0;
      // border-bottom:solid 1px $gray-lighter;
    }
  }
}

.block-media__media {
  position:relative;
  img {
    width:100%;
  }
  .listing-time {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:$font-size-sm;
    font-weight: $font-weight-normal;
  }
  .advisory-warning {
    border:solid 1px rgba(255,255,255,0.3);
    position:absolute;
    top:.25rem;
    right:.25rem;
    color:white;
    padding: 0.05rem .45rem 0.1rem;
    border-radius: .15rem;
    font-size:0.75rem
  }
}

.block-media__body {
  display:flex;
  flex-direction: column;
  flex-grow:1;
  width:100%;
}

.block-media__description {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
  flex-grow:1;
}

.hide-description {
  .block-media__description {
    display:none;
  }
}

.block-media__link {
  display:block;
  &:hover {
    &:before {
      display:none;
    }
  }
}

.listing-link {
  margin-right:auto;
  font-size:$font-size-sm;
  color:$brand-red;
  &:hover {
    &:before {
      display:none;
    }
  }
}

.listing-time {
  background:rgba(0,0,0,0.6);
  color:#fff;
  padding:.2rem .5rem;
  margin:.25rem;
  border-radius:$border-radius-xs;

}

.block-media__headline {
  padding:0.875rem 0;
  border-bottom:solid 1px $gray-lighter;
  margin-top:0;
}

.block-media__subtitle {
  padding:.25rem 0 .75rem;
  border-bottom:solid 1px $gray-lighter;
  color:$gray-light;
  font-weight:$font-weight-normal;
  margin:0 0 1rem 0;
}

.block-media__types {
  margin-top:.5rem;
}

.list-item {
  margin:20px 0 0;
}

.grid-row {
  margin:0;
  @media(min-width: 544px) {
    margin:0 -20px;
  }
  .list-item {
    transition: all 0.8s;
    display:flex;
    flex-direction:column;
    @media(min-width: $breakpoint-sm) {
      margin:20px 20px 20px 20px;
      width: calc(100% * (1/2) - 40px - 1px);
    }
    @media(min-width: $breakpoint-lg) {
      width: calc(100% * (1/3) - 40px - 1px);
    }
    .block-media__media {
      min-height:8rem;
    }
  }
}

.grid-row-four {
  margin:0;
  @media(min-width: 544px) {
    margin:0 -20px;
  }
  .list-item {
    transition: all 0.8s;
    @media(min-width: $breakpoint-sm) {
      margin:20px 20px 20px 20px;
      width: calc(100% * (1/2) - 40px - 1px);
    }
    @media(min-width: $breakpoint-lg) {
      width: calc(100% * (1/4) - 40px - 1px);
    }
    .block-media__media {
      min-height:8rem;
    }
  }
}

.grid-row-two {
  margin:0;
  @media(min-width: 544px) {
    margin:0 -20px;
  }
  .list-item {
    transition: all 0.8s;
    @media(min-width: $breakpoint-sm) {
      margin:20px 20px 20px 20px;
      width: calc(100% * (1/2) - 40px - 1px);
    }
  }
}

.list-row {
  transition: all 0.8s;
  @media(min-width: $breakpoint-sm) {
  flex-direction:column;
  .list-item {
    display:flex;
    .block-media__media  {
      top:5px;
      img {
        width:240px;
      }
    }
    .block-media__body {
      margin-left:2rem;
      h6 {
        padding-top:0;
      }
    }
  }
}
}

// .col-xs-12 {
//   overflow:hidden;
// }

.col-xl-p-left {
  @media(min-width: $breakpoint-xl) {
    padding-left:20px;
  }
}

.col-xl-p-right {
  @media(min-width: $breakpoint-xl) {
    padding-right:20px;
  }
}

.col-lg-p-left {
  @media(min-width: $breakpoint-lg) {
    padding-left:20px;
  }
}

.col-lg-p-right {
  @media(min-width: $breakpoint-lg) {
    padding-right:20px;
  }
}

.load-more {
  display:flex;
  text-align:center;
  padding:1rem;
  a {
    margin:0 auto;
    border-bottom:dotted 1px $gray-lighter;
    &:hover {
      border-bottom: solid 1px $gray;
    }
    &:after {
      content:"";
      background:no-repeat center center url("/assets/images/chevron-down_black.svg");
      width:20px;
      height:20px;
      position:absolute;
      right:-1.5rem;
      top:3px;
    }
  }
}

.loading-grid {
  display:flex;
  align-items: center;
  justify-content: center;
  min-width:100%;
  width:100%;
  height:70%;
  background:center center url("/assets/images/true-tube-logo_black.svg");
  background-size:70px auto;
  background-repeat:no-repeat;

  .spinner {
  height: 110px;
  width: 110px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid $brand-yellow;
  border-right: 6px solid $brand-yellow;
  border-bottom: 6px solid $brand-yellow;
  border-top: 6px solid #fff;
  border-radius: 100%;
  position:relative;
  }

  // .spinner:before {
  // content:"";
  // width:88px;
  // height:88px;
  // border-radius:100%;
  // position:absolute;
  // top:4px;
  // left:4px;
  // z-index:999;
  // -webkit-animation: rotation .8s infinite linear;
  // -moz-animation: rotation .8s infinite linear;
  // animation: rotation .8s infinite linear;
  // animation-direction: reverse;
  // border-left: 1px solid $gray-lighter;
  // border-right: 1px solid $gray-lighter;
  // border-bottom: 1px solid $gray-lighter;
  // border-top: 1px solid #fff;
  // }
}


@-webkit-keyframes rotation {
from {
  -webkit-transform: rotate(0deg);
}
to {
  -webkit-transform: rotate(359deg);
}
}

@-moz-keyframes rotation {
from {
  -moz-transform: rotate(0deg);
}
to {
  -moz-transform: rotate(359deg);
}
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}
