
.register {
  h1 {
    border-bottom:solid 1px $gray-lightest;
    padding-bottom:1rem;
    margin-bottom:1.5rem;
  }
  .btn {
    border-radius: $border-radius-lg;
    margin-left:0;
  }
  a {
    border-bottom:dotted 1px rgba(0,0,0,0.2);
    font-size:$font-size-sm;
    margin-left:auto;
  }
}

.register-confirm {
  color:white;
  border-radius:$border-radius-sm;
  background:$brand-gray;
  padding:.5rem 1rem;
  font-weight: $font-weight-normal;
  font-size:.875rem;
  a {
    color:white;
    border-bottom:dotted 1px rgba(255,255,255,0.2);
  }
  span {
    padding-right:1rem;
    @media(max-width:$breakpoint-sm) {
      font-size:.75rem;
    }
  }
}
