.tab {
  display:none;
  &.visible {
    display:block;
  }
}

.tab-lesson-plans, .tab-assembly-scripts, .tab-teachers-notes, .tab-interactive {
  border-top:solid 1px $gray-lighter;
  padding-bottom:1rem;
  margin-bottom:1rem;

}
