<div class="login-form" *ngIf="showLogin">
  <h2>Login</h2>
  <div class="error" *ngIf="error">{{error.description}}</div>
  <form [formGroup]="form" (ngSubmit)="login(form.value)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" />
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
