<div class="popular-block">
      <h3 class="section-title">
        Popular Topics
      </h3>
    <a href="#" (click)="navigate($event, 'customs and traditions')" class="block-event__link">
    	Customs &amp; Traditions
    </a>
    <a href="#" (click)="navigate($event, 'sexual equality')" class="block-event__link">
    	Sexual Equality
    </a>
    <a href="#" (click)="navigate($event, 'the nature of god')" class="block-event__link">
    	The Nature of God
    </a>
    <a href="#" (click)="navigate($event, 'multiculturalism')" class="block-event__link">
    	Multiculturalism
    </a>
  </div>
