<swiper class="homepage-carousel" [config]="config">
  <div class="swiper-wrapper">

  <div class="swiper-slide" *ngFor="let item of slides, let i = index">
    <a href="#" *ngIf="item.externalLink === false" [routerLink]="[item._source.link]" (click)="analyticsService.emitEvent('Homepage Carousel' + i, 'Navigate', item._source.title)">
            <img srcset="{{item._source.image[0].styles.large}}" alt="{{item._source.image[0].alt}}">
            <h2 class="display-4" *ngIf="item._source.hide_text !== true">
              <a href="#" [routerLink]="[item._source.link]"
(click)="analyticsService.emitEvent('Homepage Carousel' + i, 'Navigate', item._source.title)">
                <span>{{item._source.sub_title}}</span> {{item._source.title}}
              </a>
            </h2>
          </a>

          <a href="{{item._source.link}}" *ngIf="item.externalLink === true" (click)="analyticsService.emitEvent('Homepage Carousel' + i, 'Navigate', item._source.title)">
                  <img srcset="{{item._source.image[0].styles.large}}" alt="{{item._source.image[0].alt}}">
                  <h2 class="display-4" *ngIf="item._source.hide_text !== true">
                    <a href="{{item._source.link}}" (click)="analyticsService.emitEvent('Homepage Carousel' + i, 'Navigate', item._source.title)">
                      <span>{{item._source.sub_title}}</span> {{item._source.title}}
                    </a>
                  </h2>
                </a>

              </div>
            </div>
            <div class="swiper-pagination"></div>
            </swiper>
