<app-partners-carousel></app-partners-carousel>
<footer class="footer" role="contentinfo">

	<div class="container">
		<div class="footer-nav-container">
		<app-footer-nav>
		</app-footer-nav>
		<app-awards>
		</app-awards>

		<div class="footer-address">
			<strong>CTVC Ltd</strong><br>
			First Floor<br>
			McBeath House<br>
			310 Goswell Road<br>
			London<br>
			EC1V 7LW
		</div>
	</div>
		<div class="footer-info"><div class="copyright">&copy; {{currentYear}} TrueTube. All rights reserved.  Part of the <a href="http://www.rankfoundation.com/" (click)="analyticsService.emitEvent('Footer', 'Navigate', 'Rank Foundation')"> Rank Foundation</a></div>
			<div class="footer-produced-by">Produced by <a href="http://www.ctvc.co.uk/" (click)="this.analyticsService.emitEvent('Footer', 'Navigate', 'CTVC')"></a></div>
		</div>

	</div><!-- end l -->

</footer>
<app-cookie-notice></app-cookie-notice>
