<!-- <app-accessibility-nav></app-accessibility-nav> -->
<!-- <app-partners-carousel></app-partners-carousel> -->
<footer class="footer" role="contentinfo">

	<div class="container">
		<div class="footer-nav-container">
		<!-- <nav class="footer-nav">
			<div class="footer-nav__item"><a href="link.pages-about" class="footer-nav__link">About Us</a></div>
			<div class="footer-nav__item"><a href="link.pages-blog-index" class="footer-nav__link">Blog</a></div>
			<div class="footer-nav__item"><a href="link.pages-login" class="footer-nav__link">Support</a></div>
</nav> -->
		<app-footer-nav>
		</app-footer-nav>
		<app-awards>
		</app-awards>

		<div class="footer-address">
			<strong>CTVC Ltd</strong><br>
			First Floor<br>
			McBeath House<br>
			310 Goswell Road<br>
			London<br>
			EC1V 7LW
		</div>
	</div>
		<div class="footer-info"><div class="copyright">&copy; {{currentYear}} True Tube. All rights reserved.  Part of the <a href="http://www.rankfoundation.com/" angulartics2On="click" angularticsEvent="Navigate" angularticsCategory="Footer" [angularticsProperties]="{label: 'Rank Foundation'}"> Rank Foundation</a></div>
			<div class="footer-produced-by">Produced by <a href="http://www.ctvc.co.uk/" angulartics2On="click" angularticsEvent="Navigate" angularticsCategory="Footer" [angularticsProperties]="{label: 'CTVC'}"></a></div>
		</div>

	</div><!-- end l -->

</footer>
<app-cookie-notice></app-cookie-notice>
