

<div class="row info-page">
  <div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-right m-t-2 hidden-lg-down">
    <app-pages-nav>
		</app-pages-nav>
  </div>
  <div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-left m-t-1" *ngFor="let items of content">
    <h1 class="page-title">
      {{items.title}}
    </h1>
    <div *ngIf="items.description" class="content m-b-1 p-b-1 list-description" [innerHTML]="items.description"></div>
    <div class="row {{gridSize}}">
      <div class="list-item" *ngFor="let item of items.items">
        <div class="block-media__media">
          <img [src]="item.image" />
          <!-- <div class="listing-time" *ngIf="related.duration">
          {{ dataService.duration(related._source.duration) }}
        </div> -->
      </div>
      <div class="block-media__body">
        <h5 class="block-media__headline" *ngIf="item.title">
          {{ item.title }}
        </h5>
        <h6 class="block-media__subtitle" *ngIf="item.sub_title">
          {{ item.sub_title }}
        </h6>
        <p class="block-media__description " [innerHTML]="item.description">
        </p>
        <a class="text-link listing-link" href="{{ item.link }}" angulartics2On="click" angularticsEvent="Navigate" angularticsCategory="Item Page" [angularticsProperties]="{label: item.cleanLink}">{{ item.cleanLink }}</a>
      </div>
    </div>
  </div>

</div>
</div>
