<div class="primary-nav__wrapper">
  <div *ngFor="let item of items | QueryStringPipe:'content types'" class="primary-nav__item"><a [routerLink]="['/list']" [queryParams]="item.query" (click)="resetRootPath($event, item.query);
analyticsService.emitEvent('Primary Nav', 'Navigate', item.label)" class="primary-nav__link">{{ item.label }}</a></div>
</div>
<div class="primary-nav__item primary-nav__account" *ngIf="auth.authenticated()"><a [routerLink]="['/me']" class="primary-nav__link" (click)="this.menuClick.emit($event);
analyticsService.emitEvent('Primary Nav', 'Navigate', 'Profile')">Profile</a></div>
<div class="primary-nav__item primary-nav__account" *ngIf="auth.authenticated()"><a href="#" (click)="logout($event);
analyticsService.emitEvent('Primary Nav', 'Navigate', 'Logout')" class="primary-nav__link">Logout</a></div>
<div class="primary-nav__item primary-nav__account" *ngIf="!auth.authenticated()"><a href="#" (click)="login($event);
analyticsService.emitEvent('Primary Nav', 'Navigate', 'Login')" class="primary-nav__link">Login</a></div>
 <div class="primary-nav__item primary-nav__account" *ngIf="!auth.authenticated()"><a href="#"
 (click)="analyticsService.emitEvent('Primary Nav', 'Navigate', 'Register'); register($event)" class="primary-nav__link">Register</a></div>
<app-search #search (searchSubmitted)="searchDone($event)" class="primary-nav__search" [ngClass]="{'active': search.focussed}"></app-search>
